@{
    if (Session["adminid"] == null)
    {
        Response.Redirect("/Admin/Login/");
    }
}
@Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)
@Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.GridView }
)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="/Content/AdminLayout/assets/img/favicon.png" rel="icon">
    <link href="/Content/AdminLayout/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="/Content/AdminLayout/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/AdminLayout/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Content/AdminLayout/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Content/AdminLayout/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/Content/AdminLayout/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/Content/AdminLayout/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/Content/AdminLayout/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="/Content/AdminLayout/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/Admin/Index" class="logo d-flex align-items-center">

                <span class="d-none d-lg-block">Yönetim Paneli</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->



        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->




                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/Uploads/WhatsApp Image 2023-08-29 at 21.41.16.jpeg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2"></span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@Session["mail"] (Mustafa Furkan Pılamaz)</h6>
                            <span>Bilgisayar Mühendisliği Öğrencisi</span>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/Admin/Adminler/">
                                <i class="bi bi-person"></i>
                                <span>Yöneticiler</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/Admin/Logout/">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Çıkış Yap</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="/Admin/Index">
                    <i class="bi bi-grid"></i>
                    <span>Gösterge Paneli</span>
                </a>
            </li><!-- End Dashboard Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed " href="/Site/Index">
                    <i class="bi bi-grid"></i>
                    <span>Site Bilgileri</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/Hakkimizda/Index">
                    <i class="bi bi-grid"></i>
                    <span>Hakkimizda</span>
                </a>
            </li><!-- End Dashboard Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/Iletisim/Index">
                    <i class="bi bi-grid"></i>
                    <span>İletişim</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed " href="/Hizmet/Index">
                    <i class="bi bi-grid"></i>
                    <span>Hizmetler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed " href="/Slider/Index">
                    <i class="bi bi-grid"></i>
                    <span>Slider</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Blog Kayitlari</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Content/AdminLayout/tables-general.html">
                            <a href="/Kategori/Index"> Kategoriler</a>
                        </a>
                    </li>
                    <li>
                        <a href="/Content/AdminLayout/tables-data.html">
                            <a href="/Blog/Index">Blog Kayitlari</a>
                        </a>
                    </li>
                </ul>
            </li><!-- End Tables Nav -->





        </ul>

    </aside><!-- End Sidebar-->

    @RenderBody()
    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", required: false)
    }
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/Content/AdminLayout/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/Content/AdminLayout/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/AdminLayout/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/Content/AdminLayout/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/Content/AdminLayout/assets/vendor/quill/quill.min.js"></script>
    <script src="/Content/AdminLayout/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/Content/AdminLayout/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/Content/AdminLayout/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/Content/AdminLayout/assets/js/main.js"></script>

</body>
</html>