@model WebSiteAdminPanel.Models.Iletisim

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<main class="main">
    <h2>Sil</h2>
    <h1>----</h1>
    <h3>Silmek istiyor musun?</h3>
    <div>
        <h4>Iletisim</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Adres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adres)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Whatsapp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Whatsapp)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Twitter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Twitter)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-default" /> |
                @Html.ActionLink("Geri Dön", "Index")
            </div>
        }
    </div>
</main>